$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';
.chessboard {
    display: table;
    border: 3px black solid;
    width: 720px;
    margin: 10px auto 0;
}
    .chessboard__row {
        display: table;
    }
        .chessboard__square {
            display: table-cell;
            width: 90px;
            height: 90px;
        }
        .chessboard__square--white {
            background-color: #EF3445;
        }
        .chessboard__square--black {
            background-color: #900b1e;
        }

@media (max-width: $screen-xs-max) {
    .chessboard {
        width: 320px;
    }
    .chessboard__square {
        width: 40px;
        height: 40px;
    }
}

@media (min-width: 600px) and (max-width: 720px) {
    .chessboard {
        width: 600px;
    }
    .chessboard__square {
        width: 75px;
        height: 75px;
    }
}