<div class="chessboard">
	<div class="chessboard__row">
		<div class="chessboard__square chessboard__square--white"></div>
		<div class="chessboard__square chessboard__square--black"></div>
		<div class="chessboard__square chessboard__square--white"></div>
		<div class="chessboard__square chessboard__square--black"></div>
		<div class="chessboard__square chessboard__square--white"></div>
		<div class="chessboard__square chessboard__square--black"></div>
		<div class="chessboard__square chessboard__square--white"></div>
		<div class="chessboard__square chessboard__square--black"></div>
	</div>
	<div class="chessboard__row">
		<div class="chessboard__square chessboard__square--black"></div>
		<div class="chessboard__square chessboard__square--white"></div>
		<div class="chessboard__square chessboard__square--black"></div>
		<div class="chessboard__square chessboard__square--white"></div>
		<div class="chessboard__square chessboard__square--black"></div>
		<div class="chessboard__square chessboard__square--white"></div>
		<div class="chessboard__square chessboard__square--black"></div>
		<div class="chessboard__square chessboard__square--white"></div>
	</div>
	<div class="chessboard__row">
		<div class="chessboard__square chessboard__square--white"></div>
		<div class="chessboard__square chessboard__square--black"></div>
		<div class="chessboard__square chessboard__square--white"></div>
		<div class="chessboard__square chessboard__square--black"></div>
		<div class="chessboard__square chessboard__square--white"></div>
		<div class="chessboard__square chessboard__square--black"></div>
		<div class="chessboard__square chessboard__square--white"></div>
		<div class="chessboard__square chessboard__square--black"></div>
	</div>
	<div class="chessboard__row">
		<div class="chessboard__square chessboard__square--black"></div>
		<div class="chessboard__square chessboard__square--white"></div>
		<div class="chessboard__square chessboard__square--black"></div>
		<div class="chessboard__square chessboard__square--white"></div>
		<div class="chessboard__square chessboard__square--black"></div>
		<div class="chessboard__square chessboard__square--white"></div>
		<div class="chessboard__square chessboard__square--black"></div>
		<div class="chessboard__square chessboard__square--white"></div>
	</div>
	<div class="chessboard__row">
		<div class="chessboard__square chessboard__square--white"></div>
		<div class="chessboard__square chessboard__square--black"></div>
		<div class="chessboard__square chessboard__square--white"></div>
		<div class="chessboard__square chessboard__square--black"></div>
		<div class="chessboard__square chessboard__square--white"></div>
		<div class="chessboard__square chessboard__square--black"></div>
		<div class="chessboard__square chessboard__square--white"></div>
		<div class="chessboard__square chessboard__square--black"></div>
	</div>
	<div class="chessboard__row">
		<div class="chessboard__square chessboard__square--black"></div>
		<div class="chessboard__square chessboard__square--white"></div>
		<div class="chessboard__square chessboard__square--black"></div>
		<div class="chessboard__square chessboard__square--white"></div>
		<div class="chessboard__square chessboard__square--black"></div>
		<div class="chessboard__square chessboard__square--white"></div>
		<div class="chessboard__square chessboard__square--black"></div>
		<div class="chessboard__square chessboard__square--white"></div>
	</div>
	<div class="chessboard__row">
		<div class="chessboard__square chessboard__square--white"></div>
		<div class="chessboard__square chessboard__square--black"></div>
		<div class="chessboard__square chessboard__square--white"></div>
		<div class="chessboard__square chessboard__square--black"></div>
		<div class="chessboard__square chessboard__square--white"></div>
		<div class="chessboard__square chessboard__square--black"></div>
		<div class="chessboard__square chessboard__square--white"></div>
		<div class="chessboard__square chessboard__square--black"></div>
	</div>
	<div class="chessboard__row">
		<div class="chessboard__square chessboard__square--black"></div>
		<div class="chessboard__square chessboard__square--white"></div>
		<div class="chessboard__square chessboard__square--black"></div>
		<div class="chessboard__square chessboard__square--white"></div>
		<div class="chessboard__square chessboard__square--black"></div>
		<div class="chessboard__square chessboard__square--white"></div>
		<div class="chessboard__square chessboard__square--black"></div>
		<div class="chessboard__square chessboard__square--white"></div>
	</div>
</div>
<div class="container">

	<cn-piece type="N" team="w"></cn-piece>
	<cn-piece type="B" team="w"></cn-piece>
	<cn-piece type="K" team="w"></cn-piece>
	<cn-piece type="Q" team="w"></cn-piece>
	<cn-piece type="B" team="w"></cn-piece>
	<cn-piece type="N" team="w"></cn-piece>
	<cn-piece type="R" team="w"></cn-piece>

	<cn-piece type="R" team="b"></cn-piece>
	<cn-piece type="N" team="b"></cn-piece>
	<cn-piece type="B" team="b"></cn-piece>
	<cn-piece type="K" team="b"></cn-piece>
	<cn-piece type="Q" team="b"></cn-piece>
	<cn-piece type="B" team="b"></cn-piece>
	<cn-piece type="N" team="b"></cn-piece>
	<cn-piece type="R" team="b"></cn-piece>
</div>
