<div class="chessboard">
	<div class="chessboard__row">
		<div class="chessboard__square chessboard__square--white"></div>
		<div class="chessboard__square chessboard__square--black"></div>
		<div class="chessboard__square chessboard__square--white"></div>
		<div class="chessboard__square chessboard__square--black"></div>
		<div class="chessboard__square chessboard__square--white"></div>
		<div class="chessboard__square chessboard__square--black"></div>
		<div class="chessboard__square chessboard__square--white"></div>
		<div class="chessboard__square chessboard__square--black"></div>
	</div>
	<div class="chessboard__row">
		<div class="chessboard__square chessboard__square--black"></div>
		<div class="chessboard__square chessboard__square--white"></div>
		<div class="chessboard__square chessboard__square--black"></div>
		<div class="chessboard__square chessboard__square--white"></div>
		<div class="chessboard__square chessboard__square--black"></div>
		<div class="chessboard__square chessboard__square--white"></div>
		<div class="chessboard__square chessboard__square--black"></div>
		<div class="chessboard__square chessboard__square--white"></div>
	</div>
	<div class="chessboard__row">
		<div class="chessboard__square chessboard__square--white"></div>
		<div class="chessboard__square chessboard__square--black"></div>
		<div class="chessboard__square chessboard__square--white"></div>
		<div class="chessboard__square chessboard__square--black"></div>
		<div class="chessboard__square chessboard__square--white"></div>
		<div class="chessboard__square chessboard__square--black"></div>
		<div class="chessboard__square chessboard__square--white"></div>
		<div class="chessboard__square chessboard__square--black"></div>
	</div>
	<div class="chessboard__row">
		<div class="chessboard__square chessboard__square--black"></div>
		<div class="chessboard__square chessboard__square--white"></div>
		<div class="chessboard__square chessboard__square--black"></div>
		<div class="chessboard__square chessboard__square--white"></div>
		<div class="chessboard__square chessboard__square--black"></div>
		<div class="chessboard__square chessboard__square--white"></div>
		<div class="chessboard__square chessboard__square--black"></div>
		<div class="chessboard__square chessboard__square--white"></div>
	</div>
	<div class="chessboard__row">
		<div class="chessboard__square chessboard__square--white"></div>
		<div class="chessboard__square chessboard__square--black"></div>
		<div class="chessboard__square chessboard__square--white"></div>
		<div class="chessboard__square chessboard__square--black"></div>
		<div class="chessboard__square chessboard__square--white"></div>
		<div class="chessboard__square chessboard__square--black"></div>
		<div class="chessboard__square chessboard__square--white"></div>
		<div class="chessboard__square chessboard__square--black"></div>
	</div>
	<div class="chessboard__row">
		<div class="chessboard__square chessboard__square--black"></div>
		<div class="chessboard__square chessboard__square--white"></div>
		<div class="chessboard__square chessboard__square--black"></div>
		<div class="chessboard__square chessboard__square--white"></div>
		<div class="chessboard__square chessboard__square--black"></div>
		<div class="chessboard__square chessboard__square--white"></div>
		<div class="chessboard__square chessboard__square--black"></div>
		<div class="chessboard__square chessboard__square--white"></div>
	</div>
	<div class="chessboard__row">
		<div class="chessboard__square chessboard__square--white"></div>
		<div class="chessboard__square chessboard__square--black"></div>
		<div class="chessboard__square chessboard__square--white"></div>
		<div class="chessboard__square chessboard__square--black"></div>
		<div class="chessboard__square chessboard__square--white"></div>
		<div class="chessboard__square chessboard__square--black"></div>
		<div class="chessboard__square chessboard__square--white"></div>
		<div class="chessboard__square chessboard__square--black"></div>
	</div>
	<div class="chessboard__row">
		<div class="chessboard__square chessboard__square--black"></div>
		<div class="chessboard__square chessboard__square--white"></div>
		<div class="chessboard__square chessboard__square--black"></div>
		<div class="chessboard__square chessboard__square--white"></div>
		<div class="chessboard__square chessboard__square--black"></div>
		<div class="chessboard__square chessboard__square--white"></div>
		<div class="chessboard__square chessboard__square--black"></div>
		<div class="chessboard__square chessboard__square--white"></div>
	</div>
</div>